.form-inline= search_form_for @q, class:"row w-100" do |f|
  = f.search_field :title_or_comments_body_cont,class:"form-control mr-sm-2 col-8", placeholder: "スレッドタイトルと全レスを検索..."
  button.btn.btn-secondary.my-2.my-sm-0.col-3 type="submit"  検索
